<div class="container">
  <div class="cards--list">
    <!-- spinner de carregando os produtos -->
    <mat-spinner *ngIf="spinner"></mat-spinner>

    <!-- produtos com detalhes e ações -->
    <div class="card" *ngFor="let item of dataProducts">
      <div class="card--img">
        <img src="{{ item.thumbnail }}" alt="Imagem do produto" />
      </div>
      <div class="card--details">
        <div class="card--details-title">
          <p>{{ item.title }}</p>
        </div>

        <div class="card--details-price">
          <p>{{ item.price | currency : "USD" }}</p>
        </div>

        <button
          mat-raised-button
          color="accent"
          [routerLink]="['detail-product', item.id]"
        >
          <mat-icon>information</mat-icon>
          Details
        </button>

        <button mat-raised-button color="primary" (click)="addCart(item)">
          <mat-icon>add_shopping_cart</mat-icon>
          Buy
        </button>
      </div>
    </div>
  </div>
</div>
